body {
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
    font-family: 'Noto Serif Khitan Small Script', serif;
}

nav {
    background-color: #082A7E;
    display: flex;
    flex-direction: row;
}

#button {
    margin-left: 5%;
    /* justify-content: space-between; */

}

#button button {
    padding: 60px;
    font-size: larger;
    font-weight: bolder;
    color: antiquewhite;
}

#menu {
background-color: #FFC82A;
}

#cater {
background-color: #7CA9AC;
}

#about {
background-color: #51831E;
}

#coffee {
background-color: #710A0A;
}

#order {
background-color:#FF8824;
}

#window {
    position: relative;
    /* display: flex;
    flex-direction: row; */
}

.parallax {
    /* The image used */
    background-image: url("../images/pork-belly.png");
  
    /* Set a specific height */
    min-height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top, center bottom, center;
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-size: cover;
    z-index: 120;
  }

#bale {
    position: absolute;
    top: 80px;
    left: 20%;
}

#bale-bottom {
    position: absolute;
    top: 400px;
    left: 30px;
}

section {
    flex-direction: column;
    background-color: #E4007C;
}

.card {
    display: flex;
    flex-direction: row;
}

#card-1-text{
    border-radius: 1%;
    background-color: #FF8824;
    margin: 55px;
    color: #082A7E;
    font-size: larger;
    padding: 20px;
}

footer {
    background-color: #CACBA9;
    min-height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}